$default_background: radial-gradient(
  circle at left top,
  rgba(98, 72, 213, 0.9) 15%,
  #0c3f99e6 50%,
  #043b9de6 85%
);
$default-box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem,
  rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;

$header-line-height: 4rem;
$normal-line-height: 3rem;
$content-padding: 0.5rem 1rem;

$white-background: #fff;
$primary-color: #0ca0ff;

body {
  font: 1rem/1.5 -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
    Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background: rgb(240, 242, 245);
  //color: #6c757d;
}

#root {
  height: 100vh;
  width: 100%;

  .customer-panel {
    + .card {
      margin-top: 1rem;
    }
  }

  .content-header {
    display: flex;
    flex: 1 1 100%;

    > .breadcrumb {
      flex: 1 1 auto;
    }
  }
}

.c-container {
  position: relative;
  background-size: cover;
  //background: linear-gradient(121deg, #ad00ff 0%, #0c0056 100%),
  //  linear-gradient(121deg, #fa00ff 0%, rgba(0, 255, 71, 0) 100%),
  //  linear-gradient(127deg, #00f0ff 0%, #a80000 100%),
  //  radial-gradient(107% 142% at 15% 104%, #f3d0fc 0%, #1700a4 100%),
  //  radial-gradient(100% 100% at 50% 0%, #7300a9 0%, #00ffe0 100%),
  //  radial-gradient(100% 100% at 50% 0%, #7300a9 0%, #00ffe0 100%),
  //  linear-gradient(127deg, #b7d500 0%, #2200aa 100%);
  //background-blend-mode: overlay, color, overlay, difference, color-dodge, difference, normal;
  background: url('../assets/desktop.jpg');
}

.c-login-container {
  height: 100vh;

  > .c-back {
    background: rgba(0, 0, 200, 0.13); //图片颜色遮罩
    position: relative;
    z-index: 1;
    height: 100%;
  }

  > .c-login-row {
    display: flex;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    align-items: stretch;

    .c-login-col {
      padding: 0 3rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      //align-items: center;
      height: 100%;
      background: rgba(255, 255, 255, 1);
      box-shadow: $default-box-shadow;

      .input {
        color: rgba(255, 255, 255, 1);
      }

      .c-login-info {
        margin-bottom: 2rem;
        font-size: 2rem;

        .icon {
          font-size: 2rem !important;
        }
      }

      form {
        width: 100%;
      }
    }
  }
}

.login-form {
  > .form-item + .form-item {
    margin-top: 1rem;
  }
}

.site-icon {
  color: rgb(73, 184, 71);
  animation: rotation infinite 5s linear;
}

.c-navbar-header {
  line-height: $header-line-height;
  border-bottom: 1px solid #ccc;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255);
  box-shadow: rgb(255 255 255 / 90%) 0 0 0.0625rem 0.0625rem inset,
    rgb(0 0 0 / 5%) 0 1.25rem 1.6875rem 0;
}

.c-breadcrumb-line {
  min-height: $normal-line-height;
  display: flex;
  align-items: center;
  box-shadow: $default-box-shadow;
  padding: $content-padding;

  .breadcrumb {
    margin: 0;

    + h2 {
      margin: 0.5rem 0;
    }
  }
}

.c-content-area {
  display: block;
  margin-top: 1rem;

  > .content-info {
    width: 60%;
  }
}

.c-content-inner {
}

.c-pagination-row {
  display: flex;
  justify-content: flex-end;
}

.white-panel {
  background: #fff;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.c-affix {
  .affix-fixed {
    background: $white-background;
  }
}

.c-article-title {
  &:hover,
  &:focus {
    color: $primary-color;
    outline: none;
  }
}

.c-slider {
  color: #fff;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  //left: 0;
  top: 0;
  padding: 1rem;
  width: 250px;
  z-index: 100;

  > .c-slider-content {
    height: 100%;
    background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
    box-shadow: rgb(0 0 0 / 5%) 0 1.25rem 1.6875rem 0;
    border-radius: 0.75rem;

    .menu-item {
      font-size: 1rem;
      font-weight: 400;
      margin: 1rem 1rem 0;
      border-radius: 0.25rem;
      color: #fff;
      text-shadow: none;
      padding: 1.5rem 1rem;
      transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

      &::after {
        display: none !important;
      }

      &:hover {
        color: #fff;
      }

      &.active {
        background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
        color: #fff;
        box-shadow: rgb(0 0 0 / 10%) 0 0.25rem 0.375rem -0.0625rem,
          rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;
      }

      + .menu-item {
        margin-top: 0.5rem;
      }
    }

    .slider-title {
      padding: 1.5rem 0 0;
      display: flex;
      flex: 1 1 auto;
      justify-content: center;
      align-items: center;
      font-size: 1.25rem;
      font-weight: 600;
      height: $header-line-height;
    }
  }
}

.base-layout {
  margin: 16px 16px 16px 0;
  height: 100%;
  background: transparent;
}

.c-content-header {
  //background: linear-gradient(195deg, rgba(73, 163, 241, 0.6), rgba(26, 115, 232, 0.6)) 60%  center / cover, url("../assets/wm1.jpg") transparent;
  background: linear-gradient(195deg, rgba(73, 163, 241, 0.3), rgba(40, 119, 224, 0.6)) 60% center /
      cover,
    url('../assets/wm1.jpg') center 45% no-repeat;
  background-size: cover;
  height: 18rem;
  border-radius: 0.75rem;
  width: 100%;
  overflow: hidden;

  .c-header-panel {
    color: #ffffff;
    font-size: 2rem;
    padding: 1.5rem;

    > .c-header-desc {
      font-size: 1.25rem;
      margin: 1rem 1rem 0;
    }
  }
}

.layout,
.layout-content {
  background: transparent;
}

.c-content-body {
  display: flex;
  overflow: visible;
  position: relative;
  margin: -4rem 1.5rem 1rem;
  //min-height: 200px;
  background: #fff;
  box-shadow: $default-box-shadow;
  border-radius: 1rem;
  padding: 1rem;

  .c-book-chanel {
    color: rgba(245, 128, 62);
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .c-book-chanel-list {
    margin-top: 1rem;
  }
}

.c-catalog-flag {
  width: 4rem;
  height: 4rem;
  border-radius: 0.25rem;
  background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
  margin-top: -1.75rem;
  margin-left: -1rem;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.c-catalog-panel {
  margin-top: 2rem;
}

.c-catalog-name {
  color: #0ca0ff;
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: #cccccc;
}

.c-catalog-background {
  background: #fff url('../assets/corner-1.png') center center no-repeat;
}

.c-catalog-background-2 {
  background: #fff url('../assets/corner-2.png') center center no-repeat;
}

.c-catalog-desc {
  height: 4.5rem;
}

.c-list-avatar {
  background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
}
